*{
    padding:0;
    margin:0;
    color:white;
}
#navbar{
    height:50px;
    padding-top:25px;
    background-color: rgb(4, 42, 99);
    border:2px solid black;
    text-align: center;
  
}
a{
    margin-right: 100px;
    text-decoration: none;
}


.menu-bar{
    background: rgb(71, 71, 194);
    text-align: center;
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: white;
}
.menu-bar ul li{
    width: 350px;
    margin: 15px;
    padding: 15px;
}
.active, .menu-bar ul li:hover
{
  background: rgb(99, 99, 167);
  border-radius: 3px;
}
.sub-menu-1{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background-color: rgb(93, 93, 156);
    margin-top: 15px;
    margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
}

#content{
    height:200px;
    width:400px;
    padding-top:20px;
    background-color:rgb(246, 246, 253);
    border:2px solid black;
    text-align: center;
    color:black;
  
h1{
    color:black;
    height:50px;
}
h2{
    color:rgb(5, 5, 113);
    height:50px;
}
P{
    color:black;
    height:50px;
}

}
body{
    background-image: url(hello.jpg);
    height: 2800px;
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
   
}
#about{
    height:300px;
    width:400px;
    padding-top:20px;
    background-color:rgb(246, 246, 253);
    border:2px solid black;
    text-align: center;
    color:black;

    h1{
        color:rgb(5, 5, 113);
        height:50px;
    }
    h2{
        color:black;
        height:40px;
        
    }
    P{
        color:black;
        height:50px;
        
        
    }
}
#policies{
    height:820px;
    width:400px;
    padding-top:20px;
    background-color:rgb(246, 246, 253);
    border:2px solid black;
    text-align: center;
    color:black;

    h1{
        color:rgb(5, 5, 113);
        height:50px;
    }
    h2{
        color:black;
        height:50px;
    }
    P{
        color:black;
        height:50px;   
    }

}
#history{
    height:500px;
    width:400px;
    padding-top:20px;
    background-color:rgb(246, 246, 253);
    border:2px solid black;
    text-align: center;
    color:black;

    h1{
        color:rgb(5, 5, 113);
        height:50px;
    }
   
    P{
        color:black;
        height:50px;   
    }
}
#presence{
    height:600px;
    width:400px;
    padding-top:20px;
    background-color:rgb(246, 246, 253);
    border:2px solid black;
    text-align: center;
    color:black;

    h1{
        color:rgb(5, 5, 113);
        height:50px;
    }
   
    P{
        color:black;
        height:50px;   
    }
}


#footbar{
    height:200px;
    padding-top:20px;
    background-color: rgb(66, 111, 243);
    text-align: center;
    border:2px solid black;

a{
    margin-right:20px; 
    display: inline;
    
}

}
#footcase{
    height:200px;
    padding-top:20px;
    background-color: rgb(66, 111, 243);
    text-align: center;
    border:2px solid black;  
  
 a{
    margin-right:20px; 
    display: inline;
 }   
}
